#ph_lay,#ph_zoom{
top:0;
left:0;
width:100%;
z-index:9999;
display:none;
}
#ph_lay{
height:100%;
position:fixed;
_position:absolute;
_height:expression(Math.max(documentElement.clientHeight,body.scrollHeight));
}
#ph_zoom{
overflow-x:hidden;
position:absolute;
}
#ph_zoom span{
margin:0;
float:right;
padding:0 9px;
color:inherit;
}
#ph_lay,#ph_cap,#ph_nav span{
background:#000;
}
#ph_cap,#ph_nav{
cursor:pointer;
font-size:14px;
line-height:21px;
position:absolute;
}
#ph_nav #ph_prev,#ph_cap #ph_txt{
float:left;
}
.zoomed{
margin:0;
padding:0;
max-width:none;
cursor:pointer;
position:absolute;
}
.phzoom{
position:relative;
display:inline-block;
}
.ph_hover{
top:0;
left:0;
width:100%;
height:100%;
display:block;
position:absolute;
background:url(zoom.png) no-repeat 50% 50%;
}
.phzoom .loading{
background:url(loading.gif) no-repeat 50% 50%;
}